body,
html {
  width: 100%;
  height: 100%;
}

body,
header,
main,
button {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 7vw;
  font-family: "Spectral", Times, serif;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 5vw;
}

strong {
  font-weight: bold;
}

hr {
  border: 1px solid rgb(214, 214, 214);
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 20vh;
  max-height: 50vh;
  background-color: #ffc017;
  border-bottom: 2px solid rgb(0, 0, 0);
}

nav {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border-bottom: 2px solid black;

  position: sticky;
  top: 0;
  background-color: #ffc017;
  z-index: 1000;
  transition: 0.5s;
}

nav.scrolled {
  background-color: white;
}

nav.scrolled button:nth-of-type(5) {
  background-color: #1a8917;
  color: white;
  border-radius: 20px;
}

nav div {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav button {
  min-width: 10%;
  max-width: 20%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

nav button:nth-of-type(5) {
  background-color: black;
  color: white;
  border-radius: 20px;
}

header > div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div > div > h1,
header > div > div > p,
header > div > div > button {
  margin: 15px 0;
}

header > div > div > p {
  font-size: 1.5vw;
}

header > div > div > button {
  min-width: 25%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 30px;
}

header > div > div {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#svgDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 100%;
}

header svg {
  width: 90%;
  height: 100%;
}

/*---------- MAIN -----------*/

main {
  width: 100%;
  margin: auto;
}

/* Trending section */
#trending {
  width: 80%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#trending h3 {
  font-size: 20px;
  width: 90%;
  height: 10%;
  padding: 30px 0 10px;
}

#trending h4 {
  font-size: 18px;
  cursor: pointer;
}

#trending p {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}

#trending .author p {
  color: rgb(84, 84, 84);
  font-weight: normal;
}

#trending > div {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 40px;
}

#trending article {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 33%;
  height: 50%;
  padding: 10px;
}

#trending article > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.number {
  width: 10%;
  padding: 10px 10px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(202, 202, 202);
}

#trending img {
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-weight: bold;
}

/* Main content section */
#mainContent {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 40px 0;
}

#articles {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#articles article {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  display: flex;
}

#articles article h4 {
  font-size: 18px;
  cursor: pointer;
}

#articles article div p {
  font-size: 14px;
  color: gray;
}

#articles article .author > p {
  color: black;
  cursor: pointer;
}

#articles article > div:nth-of-type(1) {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

article > div:nth-of-type(1) * {
  margin: 7px 0;
}

#articles article > div:nth-of-type(2) {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#articles img {
  width: 70%;
}

#articles .author img {
  width: 25px;
  border-radius: 50%;
  margin: 0 5px;
}

/* TOPICS */

#topics {
  width: 35%;
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  font-weight: bold;
}

#topics > * {
  margin: 10px 0;
}

#topics button {
  height: 40px;
  min-width: 50px;
  background-color: white;
  border: 0.5px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 3px 10px;
  margin: 5px;
  font-size: 14px;
  color: rgb(150, 150, 150);
  cursor: pointer;
}

#topics button:hover {
  background-color: #ffc117;
  color: black;
}

#topics div:nth-of-type(2) {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid rgb(188, 188, 188);
  padding: 10px 0;
}

#topics a {
  text-decoration: none;
  color: rgb(182, 182, 182);
  font-size: 14px;
  font-weight: normal;
  margin: 10px 10px;
}

@media screen and (max-width: 800px) {
  #trending article {
    width: 40%;
    min-width: 250px;
  }
}
